# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Projects/tema1/tema1/Debug/tema1.tlog/CL.command.1.tlog
Projects/tema1/tema1/Debug/
Projects/tema2/tema2/Debug/
Projects/tema3/tema3/tema3/Debug/
